.about-section:hover {
  color: white;
}
.about-icon {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  padding: 3px;
}
.about-icon > i {
  min-height: 2rem;
  font-size: 2rem;
  padding: 3px;
}

.services {
  min-height: 250px;
}
.services > .text {
  text-align: left !important;
}

/* Break point section */
.break-sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec-head {
  color: white !important;
  font-size: 2rem !important;
}
@media only screen and (max-width: 720px) {
  .break-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* SERVICES */
.service-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}
.service-card:hover {
  color: #fff;
}
.service-icon {
  color: orange;
  font-size: 2rem;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.other-services > .content {
  border: 2px solid rgb(255, 167, 95);
}
.other-services > .content > .title {
  color: darkslategrey;
  font-size: 1.2rem;
  font-weight: bold;
}

/* OUR CLIENTS */

.client-item {
  position: relative;
  padding: 2px;
  border: 2px solid rgb(228, 194, 167);
}
.client-card .card-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.client-card .card-text .cname {
  font-weight: bold;
  padding: 5px;
}
.client-card .card-text .other-info {
  color: orange;
  padding: 5px;
}
.client-icon {
  position: absolute;
  color: orangered;
  font-size: 3rem;
  top: -40px;
  right: 20px;
}
.client-card .client-logo {
  width: 250px;
}

/* ABOuT PAGE */
.about-sec1 {
  display: flex;
  flex-wrap: wrap;
  gap: 4;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.abt1-img {
  width: 50%;
}
.abt1-img img {
  padding: 3px;
  width: 500px;
}
.abt1-text {
  width: 50%;
  padding: 10px;
  font-weight: 600;
}
.mission-card {
  border: 2px solid rgb(194, 149, 66);
}
.features {
  display: flex;
  flex-direction: row;
  gap: 4;
}
.features-section {
  max-width: 400px;
  margin: 5px;
}
@media only screen and (max-width: 720px) {
  .about-sec1 {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .abt1-img img {
    padding: 3px;
    width: 320px;
  }
  .abt1-text {
    width: 100%;
  }
  .abt1-img {
    width: 100%;
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 4;
  }
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}
